body{
    box-sizing: border-box;
    background-image: url(../Imágenes/fondoContacto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.encabezado{
    width: 100%;
    padding: 30px 0 30px 0;
    display: flex;
    justify-content: center;
}

.barra-navegacion{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo{
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.volver{
    border: none;
    outline: none;
    color: white;
    background-color: #04204e;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
}

.volver:hover{
    background-color: #062c6a;
    opacity: 0.9;
    cursor: pointer;
}

main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.formContacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #03132C;
    opacity: 0.9;
    backdrop-filter: blur(100px);
    padding: 30px;
    border-radius: 15px;
    width: 60%;
    height: 60%;
    border: 1px rgb(16,76,106) solid;
}

.titulo-contacto{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    color: white;
}

.contenedor-contacto{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 10px 5px;
}

.contenedor{
    display: flex;
    flex-direction: column;
    margin: 15px 0 20px 0;
}

input{
    border: none;
    border-radius: 2.5px;
    border-bottom: 2px solid white;
    background-color:  #03132C;
    outline: none;
    color: white;
    font-size: 16px;
    margin: 15px 0;
}

input::placeholder{
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.button-enviar{
    padding: 15px;
    width: 100%;
    border-radius: 6px;
    border: none;
    color: white;
    background-color: #04204e;
    font-size: 15px;
    font-weight: bold;
    margin-top: 30px;
}

.button-enviar:hover{
    background-color: #062c6a;
    cursor: pointer;
}

.mensaje_error{
    color: red;
    margin-top: 10px;
    font-family: monospace;
    font-size: 12px;
    text-align: start;
}



