body{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

form h2{
    font-size: 30px;
    font-weight: 600;
    margin: 20px;
}

main{
    min-width: 400px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

fieldset{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input{
    width: 45px;
    height: 45px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
    font-size: 30px;
    font-family: sans-serif;
    border: 3px solid black;
}


/*Estilos js*/

.verde{
    background-color: green;
    border: 3px solid green;
}

.amarillo{
    background-color: yellow;
    border: 3px solid yellow;
}

.gris{
    background-color: gray;
    border: 3px solid gray;
}

.blanco{
    background-color: white;
    border: 3px solid black;
}