body{
    box-sizing: border-box;
    background-image: url(../Imágenes/gardens.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.encabezado{
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.encabezado h1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    color: rgb(106, 157, 30);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.barra-navegacion{
    margin: 0 auto;
    margin-bottom: 20px;
}

.menu{
    display: flex;
    flex-direction: row;
}

ul{
    list-style: none;
    cursor: default;
}

.menu li div{
    background-color: rgb(106, 157, 30);
    color: white;
    padding: 10px 2px;
    text-decoration: none;
    width: 115px;
    font-weight: bold;
    font-size: 15px;
}

.menu li div:hover{
    color: rgb(29, 38, 10);
    background-color: #baf27f;
}

.menu li{
    text-align:center;
    filter:alpha(opacity=85);
    -moz-opacity:.85;opacity:.85;
}

.menu li ul{
    display: none;
}

.menu li:hover ul {
    display:flex;
    flex-direction: column;
    position: absolute;
    cursor: pointer;
}

.contacto{
    cursor: pointer;
}

.modo_juego{
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(0,0,0,0.5);
    width: 65%;
    border-radius: 7px;
    margin: 0px auto 15px auto;
    padding: 10px;
}

.modo_juego div{
    margin-top: 10px;
}


main{
    height: 100vh;
}

form{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

fieldset{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

fieldset input{
    background-color: rgba(180, 180, 180, 0.797);
}

fieldset.active input{
    background-color: rgba(255, 255, 255, 0.797);
}

input{
    width: 42px;
    height: 42px;
    padding: 8px;
    margin: 2px;
    text-align: center;
    border-radius: 10px;
    font-size: 30px;
    font-family: sans-serif;
    border: 3px solid black;
    color: transparent;
    text-shadow: 0 0 0 black;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.797);
    pointer-events: none;
}


/*Estilos js*/

div.active{
    background-color: rgb(66, 90, 36) !important;
    cursor: default;
}

div.nuevaPartida{
    background-color: rgb(66, 90, 36) !important;
    cursor: default;
}

.active input{
    pointer-events: all;
}

.verde{
    background-color: rgb(5, 222, 5);
    border: 3px solid rgb(5, 222, 5);
    animation: 0.5s linear flipping;
}

.amarillo{
    background-color: yellow;
    border: 3px solid yellow;
    animation: 0.5s linear flipping;
}

.gris{
    background-color: gray;
    border: 3px solid gray;
    animation: 0.5s linear flipping;
}

@keyframes flipping{
    0%{
        transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(90deg);
    }
    100%{
        transform: rotateY(0deg);
    }
}

/*Estilos modal*/

.modal{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-contenedor{
    margin: auto;
    border-radius: 6px;
    padding: 15px;
    width: 300px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(190, 182, 182);
}

.modal-contenedor.contenedor-perdiste{
    background-color: #e37676;
    border: 1px solid #e37676;
}

.modal-contenedor.contenedor-ganaste{
    background-color: #95fb73;
    border: 1px solid #95fb73;
}

.modal-contenedor.contenedor-advertencia{
    background-color: #f2ff00;
    border: 1px solid #f2ff00;
}

.modal-encabezado{
    display: flex;
    justify-content: flex-end;
}

.modal-contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cerrar-modal{
    color: rgb(120, 116, 116);
    font-size: 28px;
    font-weight: bold;
    border: none;
}

/*.cerrar-ganaste{
    background-color: #95fb73;
}

.cerrar-perdiste{
    background-color: #e37676;;
}*/
.cerrar-modal:hover, .cerrar-modal:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.titulo{
    font-size: 50px;
    font-weight: bold;
    margin: 10px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.perdiste{
    color: rgb(123, 9, 9);
}

.ganaste{
    color: #4f9806;
}

.advertencia{
    color: rgb(175, 175, 3);
}

.mensaje{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
